<h2> Building List</h2>
<table class = "table table-striped">
  <thead>
  <tr>
    <th> Name</th>
    <th> Aliases </th>
    <th> Address</th>
    <th> Geometry</th>
    <th> Entries</th>
    <th> Icon</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let building of buildings" >

    <td> {{ building.name }} </td>
    <td> {{ building.aliases }} </td>
    <td>{{building.address}}</td>
    <td> {{ building.geometry }} </td>
    <td> {{ building.entries }} </td>
    <td> {{ building.icon}} </td>

    <td>
      <button (click) = "updateBuilding(building.id)" class = "btn btn-info"> Update</button>
      <button (click) = "deleteBuilding(building.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
      <button (click) = "buildingDetails(building.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
    </td>
  </tr>
  </tbody>
</table>
